{% extends 'base.html' %}

{% block title %}
<title>PyNime - Home</title>
{% endblock %}

{% block main_body %}
<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">{{ anime_title }}</li>
        </ol>
      </nav>

      <div class="media">
        <img class="align-self-start mr-3" src="{{ anime_picture_url }}" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">{{ anime_title }}</h5>
          <p>{{ anime_synopsis }}</p>
          <p class="mb-0">Genre : {{ anime_genres }}</p>
          <p class="mb-0">Year : {{ anime_season }}</p>
          <p class="mb-0">Status : {{ anime_status }}</p>
          <p class="mb-0">Total Episode : {{ total_episode }}</p>

          <div class="btn-toolbar form-group mt-3">
            {% for url in list_episodes %}
              <div class="row mt-1">
                <div class="col mr-1">
                  <a class="btn btn-sm btn-primary" href="/watch/{{ anime_watch_url }}-episode-{{ forloop.counter }}/720" target="_blank">Watch Episode {{ forloop.counter }}</a>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}
