{% extends 'base.html' %}

{% block title %}
<title>PyNime - {{ anime_title }}</title>
{% endblock %}

{% block main_body %}
<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">{{ anime_title }}</li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-3">
          <img class="img-fluid rounded" src="{{ anime_picture_url }}" alt="{{ anime_title }}">
        </div>

        <div class="col">
          <h3 class="display-3">{{ anime_title }}</h5>
          <p>{{ anime_synopsis }}</p>
          <p class="mb-0">Genre : {{ anime_genres }}</p>
          <p class="mb-0">Year : {{ anime_season }}</p>
          <p class="mb-0">Status : {{ anime_status }}</p>
          <p class="mb-0">Total Episode : {{ total_episode }}</p>
          <br>
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Select Episode
            </button>
            
            <ul class="dropdown-menu">
              {% for url in list_episodes %}
                <li><a class="dropdown-item" href="/watch/{{ anime_watch_url }}-episode-{{ forloop.counter }}/720" target="_blank">Watch Episode {{ forloop.counter }}</li>
              {% endfor %}    
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
