<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Album</title>

    <link rel="canonical" href="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <nav class="container d-flex justify-content-between">
          <a class="navbar-brand" href="/">Home</a>
          <form class="form-inline" action="/search" method="post">
            {% csrf_token %}
            <input id="search_query" name="search_query" class="form-control mr-sm-2" type="text" placeholder="Search Anime" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
      </div>
    </header>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item active"><a href="#">Recent Release</a></li> -->
              <!-- <li class="breadcrumb-item active" aria-current="page">Recent Release</li> -->
              <li class="breadcrumb-item">Home: Recent Release</li>
            </ol>
          </nav>

  	      <div class="row">
  	      	{% if anime_data_list %}
  	        	{% for anime in anime_data_list %}
  	        		<div class="col-md-2">
  			          <div class="card mb-4 box-shadow">
  			            <a href="watch/{{anime.title}}/{{anime.latest_episode}}/720">
                      <img class="card-img-top" src="{{ anime.picture_url }}">
                    </a>
  			            <div class="card-body">
  			              <p class="card-text">{{ anime.title }}</p>
  			              <div class="d-flex justify-content-between align-items-center">
  			                <div class="btn-group">
  			                  <a class="btn btn-sm btn-outline-secondary" href="watch/{{anime.title}}/{{anime.latest_episode}}/720">Watch Episode {{ anime.latest_episode }}</a>
  			                </div>
  			              </div>
  			            </div>
  			          </div>
  			        </div>
  			    {% endfor %}
            {% else %}
  				    <p>such empty.
  			    {% endif %}
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
