{% extends 'base.html' %}

{% block title %}
<title>PyNime - Home</title>
{% endblock %}

{% block main_body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Anime Streaming</h1>
        <p class="lead text-body-secondary">
          Stream anime for free without any distraction of ads!
        </p>
        <!-- <p>
          <a href="#" class="btn btn-primary my-2">Button A</a>
          <a href="#" class="btn btn-secondary my-2">Button B</a>
        </p> -->
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-sm-2 row-cols-md-4 g-3">
        {% if anime_data_list %}
          {% for anime in anime_data_list %}
            <div class="col-6">
              <div class="card shadow-sm h-100">
                <a href="watch{{anime.latest_episode_url}}/720" target="_blank">
                  <img class="bd-placeholder-img card-img-top" src="{{ anime.picture_url }}" width="30%" height="100%" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                </a>
                <div class="card-body">
                  <p class="card-text">{{ anime.title }}</p>
                </div>

                <div class="row justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-secondary" href="watch{{anime.latest_episode_url}}/720">Episode {{ anime.latest_episode_int }}</a>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <!-- <small class="text-body-secondary">9 mins</small> -->
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>Such Empty</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}