{% extends 'base.html' %}

{% block title %}
<title>PyNime - Search : {{ search_query }}</title>
{% endblock %}

{% block main_body %}
<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-sm-2 row-cols-md-4 g-3">
        {% if search_result %}
          {% for anime in search_result %}
            <div class="col-6">
              <div class="card shadow-sm h-100">
                <a href="details/{{ anime.category_url }}">
                  <img class="bd-placeholder-img card-img-top" src="{{ anime.picture_url }}" width="30%" height="100%" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                </a>
                <div class="card-body">
                  <a href="details/{{ anime.category_url }}">
                    <p class="card-text">{{ anime.title }}</p>
                  </a>
                </div>
                
                <div class="row justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-secondary" href="details/{{ anime.category_url }}">Watch</a>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <!-- <small class="text-body-secondary">9 mins</small> -->
                </div>

              </div>
            </div>
        {% endfor %}
        {% else %}
          <p>such empty.
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}